body{
	font-family: 'Jura', sans-serif;
}

.PageAccueil {
	background-color: #ffffff;
	font-family: 'Jura', sans-serif;
	height:450px;
    text-align: left;
    font-size: xx-large;
}

.Haut {
	background-color: #c0392b;
    text-align:left;
    color : #ffffff;
	font-size: x-large;
	font-family: 'Jura', sans-serif;
	font-weight: bold;
}

#bouton {
	box-shadow: 4px 4px 0px #2d3436;

}